<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
    />
    <title>Django Blog</title>
  </head>
  <body>
    <div>
      <header>
        <div class="nav-left">
          <h1><a href="{% url 'home' %}">Django blog</a></h1>
        </div>
        <div class="nav-right">
          {% if user.is_authenticated %}
            <p>Welcome Back "<strong>{{ user.username }}</strong>"
              <br>
              <a href="{% url 'logout' %}">Log Out</a>
            </p>
          {% else %}
            <p>
              Welcome "Guest"
              <br>
              <a href="{% url 'login' %}">Log In</a> | <a href="{% url 'signup' %}">Sign Up</a>
            </p>
          {% endif %}
        </div>
      </header>
      
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
