{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
  <a href="{% url 'post_new' %}">+ New Blog Post </a>
{% else %}
  <p>Only Registered Users Can Make New Post!</p>
{% endif %}

{% for post in blog_posts %} <!-- Variable derivada de views.py-->
<div class="post-entry">
  <!-- El parametro puede ser id o pk por alguna razon -->
  <h2><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>
  <p>{{ post.body }}</p>
  <!-- Si el post tiene imagen, la muestra-->
  {% if post.img %}
    <img src="{{ post.img.url }}" alt="imagen">
  {% endif %}
</div>
{% endfor %} {% endblock content %}
